extends ../layout

block title
  title #{article.headline} #{properties.title}

block lead
  h2.blog-post-title=article.headline
  p.blog-post-meta=article.published.long

block content

  div.blog-post
    !=article.body

  #disqus_thread

append scripts
  !=article.scripts

  script.

    var disqus_config = function () {
      this.page.url = '#{article.fullUrl}';
      this.page.identifier = '#{article.slug}';
    };

    (function() {
    var d = document, s = d.createElement('script');
    s.src = '//lukewilde.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();

  noscript Please enable JavaScript to view the |
    a(href="https://disqus.com/?ref_noscript") comments powered by Disqus.
