extends layout

mixin post(article)

  .col-sm-6
    .col-xs-3
      p.date=article.published.short.month
        span=article.published.short.year
    .col-xs-9
      a.title(href=article.url)=article.headline

block content

  if (portfolioItem)

    .row
      .splash
        a(href='/portfolio/' + portfolioItem.slug)
          p.label #{portfolioItem.client}: #{portfolioItem.headline}
          img(src=portfolioItem.bigImage, title=portfolioItem.headline, alt=portfolioItem.headline)

  .row
    .blog-stubs.index

      - for (var i = 0; i < articles.length; i += 2)

        .row
          mixin post(articles[i])
          - if (i + 1 < articles.length)
            mixin post(articles[i + 1])
