extends ../layout

mixin portfolioItem(article)

  img(src=item.smallImage, title=item.headline)

block lead
  h2.lead.blog-description My Lovely Portfolio

block content

  .portfolio

    h2 Games

    ul

      for item in items
        li
          a(href='/portfolio/' + item.slug)
            img(src=item.smallImage, title=item.headline)

    h2 Web

    ul

      for item in items
        li
          img(src=item.smallImage, title=item.headline)
      for item in items
        li
          img(src=item.smallImage, title=item.headline)
