extends ../layout

mixin portfolioItem(item)

  a(href='/portfolio/' + item.slug)
    img(src=item.smallImage, title=item.headline, alt=title=item.headline)
    .hover-info
      p.label #{item.client}: #{item.headline}

block title
  title My lovely portfolio #{properties.title}

block lead
  h2 My Lovely Portfolio

block content

  .portfolio

    .section-header
      h2 Games
      p I am pretty good at making casual web based games

    ul

      for item in games
        li
          mixin portfolioItem(item)

    .section-header
      h2 Web
      p I also command all manor of backend wizardry

    ul

      for item in websites
        li
          mixin portfolioItem(item)
