extends ../layout

block lead
  h2.blog-post-title=item.headline
  p.blog-post-meta=item.published.long

block content

  div.blog-post
    .splash
      p.label #{item.client}: #{item.headline}
      img(src=item.bigImage, title=item.headline)

    !=item.body

    a.btn.btn-primary.btn-lg.pull-right(href=item.link) Check it out

append scripts
  !=item.scripts
