extends ../layout

block lead
  h2.blog-post-title
    a(href="/portfolio/" + item.slug)=item.headline
    p.blog-post-meta=item.published.long

block content

  div.blog-post
    .splash
      img(src=item.bigImage, title=item.headline)
      p.label #{item.client}: #{item.headline}

    !=item.body

    a(href=item.link) Check it out now

append scripts
  !=item.scripts
