extends ../layout

block container
  div.container-fluid

    block content
      h1.page-header Article control

      if (errors)
        div.panel.panel-default.panel-danger
          div.panel-heading
            h3.panel-title Validation Issues
          div.panel-body
            ul
              for error in errors
                li=error

      form(action="", method="post", role="form")
        div.panel.panel-default
          div.panel-heading
            h3.panel-title Basic Details
          div.panel-body

            .form-group(class=errors && errors.headline ? "has-error" : "")
              label.control-label(for="headline") Headline
              input.form-control(type="text", name="headline", value=article.headline)
              if (errors && errors.headline)
                span.help-block=errors.headline

            .form-group(class=errors && errors.slug ? "has-error" : "")
              label.control-label(for="slug") Slug
              input.form-control(type="text", name="slug", value=article.slug)
              if (errors && errors.slug)
                span.help-block=errors.slug

            .form-group(class=errors && errors.subtitle ? "has-error" : "")
              label.control-label(for="subtitle") Subtitle
              input.form-control(type="text", name="subtitle", value=article.subtitle)
              if (errors && errors.subtitle)
                span.help-block=errors.subtitle

            .form-group(class=errors && errors.description ? "has-error" : "")
              label.control-label(for="description") Description
              input.form-control(type="text", name="description", value=article.description)
              if (errors && errors.description)
                span.help-block=errors.description

            .form-group(class=errors && errors.body ? "has-error" : "")
              label.control-label(for="body") Body
              textarea.form-control(name="body", rows=10)=article.body
              if (errors && errors.description)
                span.help-block=errors.description


            input.form-control(type="hidden", name="_id", value=article._id)

            .btn-group
              button.btn.btn-default(type="submit") Cancel

            .btn-group.pull-right
              button.btn.btn-primary(type="submit") Save
              button.btn.btn-default(type="submit", name="draft", value="true") Draft
              button.btn.btn-warning(type="submit", name="publish", value="true") Publish

