extends ../layout

block container
  div.container-fluid

    block content
      h1.page-header Article control

      if (errors)
        div.panel.panel-default.panel-danger
          div.panel-heading
            h3.panel-title Validation Issues
          div.panel-body
            ul
              for error in errors
                li=error

      form(action="", method="post", role="form")
        div.panel.panel-default
          div.panel-heading
            h3.panel-title Basic Details
          div.panel-body

            .form-group
              label(for="headline") Headline
              input.form-control(type="text", name="headline", value=article.headline)

            .form-group
              label(for="slug") Slug
              input.form-control(type="text", name="slug", value=article.slug)

            .form-group
              label(for="subtitle") Subtitle
              input.form-control(type="text", name="subtitle", value=article.subtitle)

            .form-group
              label(for="description") Description
              input.form-control(type="text", name="description", value=article.description)

            .form-group
              label(for="body") Body
              textarea.form-control(name="body", rows=10)=article.body
              //- input.form-control

            input.form-control(type="hidden", name="_id", value=article._id)

            .btn-group
              button.btn.btn-default(type="submit") Cancel

            .btn-group.pull-right
              button.btn.btn-primary(type="submit") Save
              button.btn.btn-default(type="submit", name="draft", value="true") Draft
              button.btn.btn-warning(type="submit", name="publish", value="true") Publish

