extends ../layout

block container
  div.container-fluid

    block content
      h1.page-header Article control

      if (errors)
        div.panel.panel-default.panel-danger
          div.panel-heading
            h3.panel-title Validation Issues
          div.panel-body
            ul
              for error in errors
                li=error

      form.form-horizontal(action="", method="post", role="form")
        div.panel.panel-default

          div.panel-heading
            h3.panel-title Basic Details

          div.panel-body

            .form-group(class=errors && errors.headline ? "has-error" : "")
              .col-sm-1
                label.control-label(for="headline") Headline
              .col-sm-5
                input.form-control(type="text", name="headline", value=article.headline)
                if (errors && errors.headline)
                  span.help-block=errors.headline

            .form-group(class=errors && errors.slug ? "has-error" : "")
              .col-sm-1
                label.control-label(for="slug") Slug
              .col-sm-5
                input.form-control(type="text", name="slug", value=article.slug)
                if (errors && errors.slug)
                  span.help-block=errors.slug

            .form-group(class=errors && errors.subtitle ? "has-error" : "")
              .col-sm-1
                label.control-label(for="subtitle") Subtitle
              .col-sm-5
                input.form-control(type="text", name="subtitle", value=article.subtitle)
                if (errors && errors.subtitle)
                  span.help-block=errors.subtitle

            .form-group(class=errors && errors.description ? "has-error" : "")
              .col-sm-1
                label.control-label(for="description") Description
              .col-sm-5
                textarea.form-control(v-model="input", name="description", rows=5)=article.description
                if (errors && errors.description)
                  span.help-block=errors.description

            .form-group(class=errors && errors.body ? "has-error" : "")
              #editor
                .col-sm-1
                  label.control-label(for="body") Body
                .col-sm-5.blog-main
                  textarea.form-control(v-model="input", name="body", rows=20)=article.body
                  if (errors && errors.body)
                    span.help-block=errors.body
                .col-sm-6.blog-main
                  .preview(v-html="input | marked")

            .form-group(class=errors && errors.published ? "has-error" : "")
              .col-sm-1
                label.control-label(for="published") Published Date
              .col-sm-5
                input.form-control(type="text", name="published-pretty", value=article.published)
                if (errors && errors.published)
                  span.help-block=errors.published

            .form-group
              .col-sm-1
              .col-sm-5
                .checkbox
                  label
                    input(type="checkbox", name="isVisible", checked=article.isVisible)
                    | Is Visible

            input.form-control(type="hidden", name="published", value=article.published)
            input.form-control(type="hidden", name="_id", value=article._id)

            .btn-group
              button.btn.btn-primary(type="submit") Save
              button.btn.btn-default(type="submit", name="draft", value="true") Draft
              button.btn.btn-warning(type="submit", name="publish", value="true") Publish

            .btn-group.pull-right
              button.btn.btn-default(type="submit", name="cancel", value="true") Cancel

append scripts
  script(src="/js/lib/slugg.js")
  script(src="/js/lib/pikaday.js")
  script(src="/js/lib/vue.min.js")
  script(src="/js/lib/marked.min.js")

  script.
    $(function() {
      var $publishedHidden = $('input[name=published]')
        , $publishedPretty = $('input[name=published-pretty]')
        , picker = new Pikaday({ field: $('input[name=published-pretty]')[0] } )
        , $headline = $('input[name=headline]')
        , $slug = $('input[name=slug]')

      $headline.bind('blur', function () {
        if ($slug.val() === "") {
          $slug.val(slugg($headline.val()))
        }
      })

      $publishedPretty.bind('change', function(event) {
        $publishedHidden.val(new Date($(event.target).val()).toISOString())
      })

      new Vue(
        { el: '#editor'
        , filters:
          { marked: marked
          }
        }
      )

      var $divs = $('textarea[name=body], .preview')

      $divs.on('scroll', function(event) {

          var $other = $divs.not(this).off('scroll')
            , other = $other.get(0)
            , percentage = this.scrollTop / (this.scrollHeight - this.offsetHeight)

          other.scrollTop = percentage * (other.scrollHeight - other.offsetHeight)
      })
    })
