extends ../layout

block content

  h1 Articles
    a.btn.btn-primary.pull-right(href='/admin/article/new') New Article

  .table-responsive
    table.table.table-striped
      thead
        tr
          th Edit
          th Headline
          th Slug
          th Description
          th Live
          th Published
          th Created
          th Delete
      tbody
        for article in articles
          tr
            td
              a.btn.btn-primary(href="/admin/article/edit/" + article.slug) Edit
            td
              a(href="/blog/" + article.slug + "?preview")=article.headline
            td=article.slug
            td=article.description
            td=article.published
            td
              if article.isLive
                span.label.label-success Yes
              else
                span.label.label-danger No
            td=article.created
            td
              a.btn.btn-danger(href="/admin/article/delete/" + article._id) Delete

